textarea,
mat-form-field{
    width: 100%;

}
mat-spinner{
    margin: auto;
}
input[type="file"]{
    visibility:hidden;
}
.fileupload{
    margin-bottom: 2rem;
}
.image-preview{
    height: 5rem;
    margin :1rem 0;
}
.image-preview img{
    height: 100%;
}