
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()"  *ngIf="!isLoading">
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            formControlName="title"
            placeholder="Enter Title">
            <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput 
            rows="4" 
            formControlName="content"
            placeholder="Enter Content"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter a post content.</mat-error>
        </mat-form-field>
        <div>
            <button class="fileupload" mat-stroked-button type="button" (click)="filePicker.click()">Upload Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview!=='' && imagePreview && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">

        </div>
        <button 
        mat-raised-button
        color="accent"
        type="submit">Save Posts</button>
    </form>
</mat-card>
